<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="30101" type="text" id="hosterlist" default=""/>
		<setting label="30102" id="seriespath" type ="folder" />
		<setting type="sep"/>
		<setting label="30103" id="finish" type="action" action="RunScript(special://home/addons/plugin.video.burningseries/apifinish.py)"/>
    </category>
</settings>